Adafruit-Blinka==9.1.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-busdevice==5.2.17
adafruit-circuitpython-connectionmanager==3.1.8
adafruit-circuitpython-lps35hw==1.2.26
adafruit-circuitpython-register==1.12.1
adafruit-circuitpython-requests==4.1.17
adafruit-circuitpython-sht31d==2.3.31
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.89.1
Adafruit-PureIO==1.1.11
asttokens==3.0.1
binho-host-adapter==0.1.6
contourpy==1.3.3
cycler==0.12.1
decorator==5.3.1
executing==2.2.1
fonttools==4.63.0
h5py==3.16.0
ipython==9.14.1
ipython_pygments_lexers==1.1.1
ischedule==1.2.7
jedi==0.20.0
kiwisolver==1.5.0
matplotlib==3.11.1
matplotlib-inline==0.2.2
numpy==2.5.2
opencv-python-headless==5.0.0.93
packaging==26.2
pandas==3.0.3
parso==0.8.7
pexpect==4.9.0
pillow==12.2.0
prompt_toolkit==3.0.52
psutil==7.2.2
ptyprocess==0.7.0
pure_eval==0.2.3
pyftdi==0.57.2
Pygments==2.20.0
pyparsing==3.3.2
pyserial==3.5
python-dateutil==2.9.0.post0
pyusb==1.3.1
pyzwoasi==0.2.6
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
schedule==1.2.2
six==1.17.0
spidev==3.8
stack-data==0.6.3
suntime==1.3.2
sysv_ipc==1.2.0
toml==0.10.2
traitlets==5.15.1
typing_extensions==4.15.0
wcwidth==0.8.1