# /etc/system/system/yoopernet.service
[Unit]
Description=YooperNet Observatory
After=multi-user.target

[Service]
Type=exec
WorkingDirectory=/home/yoopernet/YooperNetStation
ExecStart=/etc/bin/python /home/yoopernet/YooperNetStation/whatever_script.py
User=yoopernet
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
